{% extends 'mfm_website/base.html' %}

{% block content %}
<section class="section-blog">
			<h1 class="page-heading">Read Our Blog</h1>
			<div class="block block-blog-post">
				<div class="block-content block-read-post">
					<h3 class="page-heading">Officia deserunt mollit anim id est laborum.</h3>
					<img src="images/president-image.jpg" class="">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</p>
				</div>
				<div class="post-meta">
					<i class="fa fa-clock-o"></i><span> June 06, 2016</span>
					<i class="fa fa-user"></i><span> Sir Victor</span> 
					<i class="fa fa-folder"></i><span> We are one body in Christ</span>
					<a href="#"><span class="read-more">Read More</span></a>
				</div>

				<div class="block-content block-read-post">
					<h3 id="show" class="page-heading">Officia deserunt mollit anim id est laborum.</h3>
					<img src="images/president-image.jpg" class="">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</p>
				</div>
				<div class="post-meta">
					<i class="fa fa-clock-o"></i><span> June 06, 2016</span>
					<i class="fa fa-user"></i><span> Sir Victor</span> 
					<i class="fa fa-folder"></i><span> We are one body in Christ</span>
					<a href="#"><span class="read-more">Read More</span></a>
				</div>
			</div>

			<div class="block block-recent-post">
				<h3><i class="fa fa-comment"></i> Recent Post</h3>
					<div class="block-content block-post-comment">
						<ul class="list-comments">
							<li>
								<img src="images/headshot.jpg">
								<p>
									Lekan Duis aute irure dolor in reprehenderit in voluptate velit esse
			  						cillum dolore eu fugiat nulla pariatur. 
			  					</p>
							</li>
							<div class="clear-fix"></div>
							<li>
								<img src="images/headshot.jpg">
								<p>
									Lekan Duis aute irure dolor in reprehenderit in voluptate velit esse
			  						cillum dolore eu fugiat nulla pariatur.
								</p>
							</li>
							<div class="clear-fix"></div>
							<li>
								<img src="images/headshot.jpg">
								<p>
									Lekan Duis aute irure dolor in reprehenderit in voluptate velit esse
			  						cillum dolore eu fugiat nulla pariatur.
								</p>
							</li>
							<div class="clear-fix"></div>
							<li>
								<img src="images/headshot.jpg">
								<p>
									Lekan Duis aute irure dolor in reprehenderit in voluptate velit esse
			  						cillum dolore eu fugiat nulla pariatur.
								</p>
							</li>
							<div class="clear-fix"></div>
							<li>
								<img src="images/headshot.jpg">
								<p>
									Lekan Duis aute irure dolor in reprehenderit in voluptate velit esse
			  						cillum dolore eu fugiat nulla pariatur.
								</p>
							</li>
							<li>
								<img src="images/headshot.jpg">
								<p>
									Lekan Duis aute irure dolor in reprehenderit in voluptate velit esse
			  						cillum dolore eu fugiat nulla pariatur.
								</p>
							</li>
							<li>
								<img src="images/headshot.jpg">
								<p>
									Lekan Duis aute irure dolor in reprehenderit in voluptate velit esse
			  						cillum dolore eu fugiat nulla pariatur.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
{% endblock content %}